$placeholderHeight: 300px;

.mpt-image-placeholder {
  height: $placeholderHeight;
  background-color: $color-gray-light;
  overflow: hidden;

  &--full-height {
    height: 100%;
  }
}

.mpt-text-placeholder {
  padding: 1rem;
  background-color: $color-gray-dark;
  text-align: justify;
}