.mpt-layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 4rem;
  background-color: $color-gray-darkest;

  &__header {
    margin-bottom: 3rem;
  }

  &__main {
    flex-grow: 1;
    padding: 0 5rem;
    display: flex;
    align-items: stretch;
  }
}