.prices-page {
  &__table {
    background-color: #e673c5;
    padding: 32px 20px;
    margin-bottom: 48px;
  }

  &__record {
    display: flex;
    align-items: center;
    background-color: #b964ab;
    padding: 12px;

    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  &__record-separator {
    width: 1px;
    height: 19px;
    margin: 0 30px;
    background-color: #333;
  }

  &__record-desc {
    flex-basis: 80%;
  }
  
  &__text {
    padding: 1rem; 
	background-color: #aaaaaa; 
	text-align: justify;
  }
}

